@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

:root{
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0 none;
	outline: 0;   /*revisar*/  
}

/* || General Styles */

.container{
    display: flex;
}

.container--vertical{
    flex-flow: column nowrap;
}

.container--horizontal{
    flex-flow: row nowrap; 
}

.align-center{
    align-items: center;
}
/*REVISAR*****************************/
a{
    text-decoration: none;
}
/*REVISAR*/
h1, h2, h3, p, a {
    font-weight: inherit;
    letter-spacing: 0;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px;    
    background-color: #00F3BB;
    color: rgb(6, 10, 36, 1);    
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;       
}

.btn-primary:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 1px;
    transition: color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}   

.main-container {
    width: 100%;
    min-width: 300px;  
}

/* ||  Navbar */
.nav {
    justify-content: space-between;
    position: fixed;
    top:0;
    height: 44px;
    width: 100%;    
    z-index: 2;
    background-color: rgba(255,255,255,0.97);
}

.logo {
    margin-left: 5%;    
    cursor: pointer;    
}

.logo__img {
    height: 24px;
    width: 24px;
    transition: height .5s ease-in-out, width .5s ease-in-out; 
}

.burger-icon {
    margin-right: 6%;
    align-self: center;
}

.burger-icon__container {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: 12px;
    width: 18px;
    cursor: pointer;
  }

.burger-icon__line {
    height: 16.6%;
    width: 100%;
    background-color: rgba(6,10,36,1);
    transition: transform 0.2s ease, opacity 0.2s ease;
  }    

#collapsible-check {
    opacity: 0;
    display: none;
}

#collapsible-check:checked ~ ul {
  transform: translateX(0);
  left:0;
}

#collapsible-check:checked + .burger-icon .burger-icon__line:first-child{
    transform: translateY(250%) rotate(45deg);       
  }

#collapsible-check:checked + .burger-icon .burger-icon__line:nth-child(2){
    opacity: 0
  }

#collapsible-check:checked + .burger-icon .burger-icon__line:last-child{
    transform: translateY(-250%) rotate(-45deg);
  }

.menu { 
    width: inherit;
    position: absolute;
    top: 44px;
    left:101vw;
    transform: translateX(100%);
    transition: transform .4s linear;
    margin: 0;
}

.menu__item{
    display: block;
    background: rgba(0,0,236,1);
    padding-left: 1rem;
    padding-top: 0.875rem;
    list-style: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    color: rgba(255,255,255,1);
    line-height: 1.75rem;
    height: 56px;
    cursor: pointer;
}

.menu__item > a {
    color: inherit;
}

/* || First section - Welcome */

.welcome {    
    padding: 4.563rem 1rem 1.5rem 1rem;
    transition: padding .5s ease-in-out;
}

.welcome__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    font-style: normal;
    color: rgba(6, 10, 36, 1);
    line-height: 2.625rem;
    padding: 0 1.875rem 1rem 0;
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;
}

.welcome__dot {
    margin-left: -0.2em;
}

.welcome__content {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    color: rgba(6, 10, 36, 1);
    line-height: 1.375rem;
    padding-bottom: 2.25rem;
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;
}

.welcome__content > .mobile-text {
    font-size: inherit;
}

.welcome__content > .desktop-text{
    display: none;
}

/* || Second section - Episodes */

.episodes {    
    padding: 4rem 0.69rem 9rem 0.69rem;
    background: linear-gradient(225deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 163,1) 100%);
    transition: padding .5s ease-in-out, height .5s ease-in-out;
}

.cover-mask {
    clip-path: polygon(0 2.7%, 100% 0, 100% 97.3%, 0 100%);
    transition: clip-path .4s linear;
}

.episodes__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    color: rgba(255, 255, 255, 1);
    line-height: 2.625rem;
    padding-bottom: 1.31rem;
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;
}

.episodes__players-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;
    transition: padding .5s ease-in-out, grid-template-columns .5s ease-in-out, gap .5s ease-in-out;
}

/* || Third section - About us */

.about-us__img {
    width: 320px;
    height: 519px;
    margin: -5.97rem 0 1.688rem; 
    z-index: 1;
    transition:margin .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
}

.about-us__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    color: rgba(6, 10, 36, 1);
    line-height: 2.625rem;
    padding-bottom: 0.5rem;
}

.about-us__content {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    color: rgba(6, 10, 36, 1);
    line-height: 1.375rem;
}

.about-us__title, .about-us__content {
    padding: 0 1rem 0.5rem; 
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;    
}

/* || Fourth section - Guests */

.guests__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    color: rgb(6, 10, 36, 1);
    line-height: 2.625rem;
    padding: 2.875rem 1rem 0;
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;
}

.guests__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0.875rem;  
    transition: padding .5s ease-in-out;
}

.guests__img {
    width: 100%;
    height: 243px;    
}

/* || Fifth section - Topics */

.topics {
    padding: 3rem 1rem 0;
}

.topics__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    color: rgba(6, 10, 36, 1);
    line-height: 2.625rem;
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;
}

.topics__card-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    padding-top: 2.31rem;
    transition: padding .5s ease-in-out;
}

.topics__card {
    align-items: center;
    justify-content: center;
}

.topics__img {
    width: 104px;
    height: 104px;
}

.topics__name {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(6, 10, 36, 1);
    line-height: 2rem;
    padding: 0.812rem 0 2.625rem;
    text-align: center;
}

/* || Sixth section - News */

.news {
    padding: 4rem 1rem 0rem;
    background: linear-gradient(225deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 163,1) 100%);
    transition: padding .5s ease-in-out, height .5s ease-in-out;
}

.cover-mask2 {
    clip-path: polygon(0 10.51%, 100% 0, 100% 100%, 0 100%);
    transition: clip-path .4s linear;
}

.news__title {
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    color: rgba(255, 255, 255, 1);
    line-height: 2.625rem;
    text-align: center;
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;
}

.news__button {
    margin-bottom: 4.19rem;
    transition: margin .5s ease-in-out, color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
} 

/* || Footer */

.footer {
    width: 100%;
    padding: 1.5rem 2.875rem 1.94rem 2.875rem;
    transition: padding .5s ease-in-out;
}

.footer__content {
    font-family: 'IBM Plex Mono', monospace;
    color: rgba(6, 10, 36, 1);
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-bottom: 1rem;
    transition: padding .5s ease-in-out, font-size .5s ease-in-out;
}

.footer__icons-wrapper {
    width: 100%;
    justify-content: space-between;
    height: 1.75rem;
}

.footer__icon-link {    
    flex-direction: column;
    margin: 0 -0.75rem -0.7rem;
}

.footer__icon {
    font-size: 1rem;
    color: rgba(6, 10, 36, 1);
    line-height: 1.75rem !important;
    width: 1rem;
}

/* Links accesibility */

.visually-hidden {
    opacity: 0;
    font-size: 0.7rem;
}

/* || Media Queries */

@media screen and (min-width: 481px) {

    /* Second Section - Episodes */
    .episodes__players-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.44vw;
    }

    /* Fourth section - Guests */
    .guests__grid {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 1.5rem; 
    }    

    .guests__img {
        height: 25.28vw;
    }

    /* Fifth section - Topics */
    .topics__card-wrapper {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 4.312rem 0 0 1rem;
    }

    .topics__name {
        padding: 0.812rem 2rem 4.06rem;
        max-width: 20.75rem;
    }

    /* Episodes and News Masks */
    .cover-mask {
        clip-path: polygon(0 5.6%, 100% 0, 100% 94.4%, 0 100%);
    }

    .cover-mask2 {
        clip-path: polygon(0 16.42%, 100% 0, 100% 100%, 0 100%);
    }

}

@media screen and (min-width: 769px) {

    /* General Styles*/

    .btn-primary{
        height: 56px;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    /* Navbar*/
    .nav {
        height: 80px;
    }

    .burger-icon{
     visibility: hidden;
    }

    .logo {
        margin-left: 7%;
    }  

    .logo__img {
        height: 36px;
        width: 36px;
        cursor: pointer;
    }

    .menu { 
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        margin-right: 6.94vw;
    }   
        
    .menu__item{
        background-color: rgba(255,255,255,0.1);
        padding: 26px 0;
        margin-left:48px;
        font-size: 16px;
        color: #060A24;

        line-height: 28px;
        height: 80px;
        cursor: pointer;
    }

    .menu__item:hover{
        color: rgba(0, 243, 187, 1); 
        text-decoration: line-through;      
        transition: color 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    .menu__item:active{
        color: rgb(6, 10, 36, 0.56); 
        text-decoration: line-through;      
    }

    /*First section - Welcome*/

    .welcome {
        padding: 12.5rem 1.11vw 0 13.89vw;
    }

    .welcome__title {
        font-size: 4rem;        
        line-height: 2.625rem;
        padding-right: 5.25rem;
    }   

    .welcome__dot {
        color: rgba(0, 0, 236, 1);  
    }  

    .welcome__content {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-right: 41.39vw; /*REVISAR**************/
        padding-bottom: 3.5rem;
    }

    .welcome__content > .mobile-text {
        display: none;
    }
    
    .welcome__content > .desktop-text{
        font-size: inherit;
        display: inline;
    }

    .welcome__button {
        width: 14.125rem;
    }

    /* Second Section - Episodes */

    .episodes {
        padding: 11.625rem 6.94vw 14.54rem 6.94vw;
    }
    
    .cover-mask {
        clip-path: polygon(0 14.4%, 100% 0, 100% 85.6%, 0 100%);
    }

    .episodes__title {             
        font-size: 3rem;
        line-height: 3.875rem;
        padding: 0 0 1.625rem 6.94vw;
    }

    .episodes__players-grid {
        gap: 5vw;
    }

    /* Third section - About us */

    .about-us {
        flex-flow: row nowrap; 
        padding: 0 17.78vw 0 13.89vw; 
    }

    .about-us__img {
        width: 457.6px;
        height: 660px;
        margin: -10.54rem 0 0;
    }

    .about-us__title {
        font-size: 3rem;
        line-height: 3.875rem;
        padding: 0 1rem 1.5rem 0;
    }

    .about-us__info-wrapper {
        padding: 1.275rem 0 0 7.78vw;
        align-self: flex-start;
        transition: padding .5s ease-in-out;
    }

    .about-us__content {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0 0 0.5rem;
    }

    /* Fourth section - Guests */

    .guests__title {
        font-size: 3rem;
        line-height: 3.875rem;
        padding: 4rem 0rem 0 13.89vw;
    }

    .guests__grid {
        padding-top: 2.25rem; 
    }

    /* Fifth section - Topics */
    .topics {
        padding: 4rem 13.89vw 0;
    }

    .topics__title {
        font-size: 3rem;
        line-height: 3.875rem;
    }

    .topics__card-wrapper {
        padding: 4.312rem 0 0 1rem;
    }

    .topics__name {
        padding: 1.81rem 1rem 2.12rem;
        max-width: 14.75rem;
    }

    /* Sixth section - News */

    .news {
        align-items: center;
        padding: 13.31rem 0rem 9.44rem;
    }

    .news__title {
        font-size: 3rem;
        text-align: center;
        line-height: 3.875rem;
    }
    
    .cover-mask2 {
        clip-path: polygon(0 29.1%, 100% 0, 100% 100%, 0 100%);
    }

    .news__button {
        width: 21.56rem;
        margin-bottom: 0;
    }

    /* Footer */

    .footer {
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 2.25rem 6.25rem 1.94rem 6.25rem; 
    }

    .footer__content {
        font-size: 1rem;
        line-height: 1.75rem;
        padding-bottom: 0;
    }

    .footer__icons-wrapper {
        width: 14.625rem;
    }

    .footer__icon {
        font-size: 1.125rem;
        width: 1.12rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {

    .welcome__title {
        line-height: 3.5rem;   
    }

    .welcome__content {
        padding-right: 5.25rem;
    }

    .about-us {
        flex-flow: column nowrap;
        padding: 0 5.25rem 0 13.89vw;
    }

    .about-us__info-wrapper {
        padding-left: 0;
    }   
    
    /* Episodes and News Masks */
    .cover-mask {
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    }    

      .cover-mask2 {
        clip-path: polygon(0 20.21%, 100% 0, 100% 100%, 0 100%);
    }
   
}




