@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0 none;
	outline: 0;
    max-width: 1200px;
    font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
}

nav#navbar-container{
display: flex;
flex-flow: column nowrap;
}

nav .navbar-top{

}

nav ul{ 
    display: none;
}

nav input#collapsible-check{
    display: none;
}

nav input#collapsible-check:checked ~ ul{
  display:block;
}

nav ul li{
    display: block;
    background: lightgrey;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
}

body h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    font-weight: 400px;
    font-style: normal;
    color: rgba(6, 10, 36, 1);
    letter-spacing: 0;
}
